<div class="navbar">
  <mat-toolbar class="toolbar">
    <a routerLink="/">
      <img src="assets/ficuniverse-logo.png" style="height: 60px; margin-top: 20px; padding-left: 50px " alt="FicUniverse Logo">
    </a>
    <div *ngIf="userLogged(); else loginButton"  >
      <div style="display: flex; align-items: center">
        <mat-form-field class="search-bar" routerLink="search">
            <mat-label>Search by title or author...</mat-label>
            <input class="search-input" matInput type="text" [(ngModel)]="value" >
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        <a routerLink="chapters" >
          <button mat-button color="primary">Chapters</button>
        </a>
        <a routerLink="writing">
          <button mat-button color="primary">Write your fanfic</button>
        </a>
        <a routerLink="authors">
          <button mat-button color="primary">Authors</button>
        </a>
      </div>

    </div>
    <ng-template #loginButton >
      <a routerLink="/login"  style="margin-right: 50px">
        <button mat-raised-button color="primary" style="width: 100px">Login</button>
      </a>
    </ng-template>
  </mat-toolbar>
</div>

