<app-toolbar></app-toolbar>
<router-outlet></router-outlet>
<app-footer-content></app-footer-content>

<!--Check from here
<mat-toolbar class="toolbar-personalized">
  <img src="assets/images/logo.jpg" alt="fanfic-logo" style="width: 200px; height: 73px;">
  <div class="mat-spacer"></div>
  <a mat-button *ngFor="let option of options"
     [routerLink]="option.path">{{ option.title }}</a>
</mat-toolbar>

<mat-toolbar color="primary">
  <span>FicUniverse</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">
    Añadir comentario
  </button>
</mat-toolbar>

<mat-toolbar color="primary">
  <span>FicUniverse</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">
    Crear usuario
  </button>
</mat-toolbar>
-->














